/* .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .links {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #53c28b;
  font-weight: 500;
} */

/* .img {
  width: 120px;
  height: 120px;
  object-fit: contain;
} */

/* .logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
} */

/* .logout:hover {
  filter: brightness(1.2);
  color: black;
} */
