.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.blogButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img {
  object-fit: cover;
}

.title {
  margin-bottom: 10px;
  color: #53c28b;
}

.desc {
  font-size: 18px;
  color: #999;
  font-weight: 400;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username {
  font-size: 20px;
  font-weight: 600;
}

.createdAt {
  font-weight: 600;
}
